.commerce-fidelity-paygate-icons .label {
  font-weight: bold;
  padding-left: 19px;
  margin-right: 5px;
}

.commerce-fidelity-paygate-icon {
  position: relative;
  top: 6px;
  margin-right: 4px;
}
